img {
  width: 100%;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  opacity: 0;
}

.landing-inner {
  padding-top: 80px;
}

.column {
  float: left;
}

.left,
.right {
  width: 25%;
  font-size: 500%;
}

.middle {
  width: 50%;
}

.coffee {
  background: url("./img/coffee.png") no-repeat;
  background-position: center;
  height: 64vh;
  margin-top: -100px;
}

@media only screen and (max-width: 760px) {
  .coffee {
    background: url("./img/coffee-small.png") no-repeat;
    background-position: center;
    height: 64vh;
    margin-top: -150px;
  }
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
