html {
  min-height: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  /* bottom margin = footer height */
}

.landing-inner {
  padding-top: 80px;
}

.column {
  float: left;
}

.middle {
  width: 100%;
}

.coffee {
  opacity: 0;
  background: url("./img/coffee.png") no-repeat;
  background-position: center;
  height: 64vh;
  margin-top: -100px;
  border-radius: 50%;
}

.intro {
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 760px) {
  .coffee {
    background: url("./img/coffee-small.png") no-repeat;
    background-position: center;
    height: 64vh;
    margin-top: -200px;
  }
  .intro {
    margin-top: -100px;
  }
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.logo {
  padding-bottom: 100px;
  padding-top: 25px;
  opacity: 0;
}

.circle-base {
  border-radius: 50%;
}

.logo-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.logo-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.logo-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.logo-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}
